<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
      href="https://unpkg.com/bulma/css/bulma.css" />
  </head>
  <body>
    <div class="" id="app">
      <div class="field">
        <label for="" class="label">Name</label>
        <input type="text" name="" value="" class="input" v-model="name">
      </div>
      <div class="field">
        <label for="" class="label">Subject</label>
        <div class="select">
          <select class="" name="" v-model="subject">
              <option disabled value="">Select Dropdown</option>
              <option value="">Engineering </option>
              <option value="">Computer Science </option>
              <option value="">Biology </option>
              <option value="">Other... </option>
          </select>
        </div>
      </div>
      <div class="checkbox">
        <label for="" class="label">
          <input type="checkbox" name="" value="" v-model="termsAndConditions">
          I Agree to the terms and conditions
        </label>
      </div>
      <div class="field">
        <label for="" class="radio">
          <input type="radio" name="" value="yes" v-model="yesOrNo">
          Yes
        </label>
        <label for="" class="radio">
          <input type="radio" name="" value="no" v-model="yesOrNo">
          No
        </label>
      </div>
      <div class="field">
        <button @click="submit" type="button" name="button" class="button is-info">Submit</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.js"> </script>
    <script type="text/javascript">
        new Vue({
          el:'#app',
          data:{
            name: '',
            subject: '',
            termsAndConditions: false,
            yesOrNo: 'No'
          },
          methods:{
            submit(){
              console.log('name', this.name);
              console.log('subject', this.subject);
              console.log('termsAndConditions', this.termsAndConditions);
              console.log('yesOrNo', this.yesOrNo);
            }
          }
        });
    </script>
  </body>
</html>
